<div class="blog-list">
<% items.forEach(function(item) { %>
<div class="blog-post">
<div class="blog-date">
<%= item.date %>
</div>
<div class="blog-title">
<a href="<%= item.path %>"><%= item.title %></a>
</div>
</div>
<% }); %>
</div>